 body {
  background: url(artificial-grass-5898-in-architextures.jpg);
  background-size: 50%;
  padding: 0%;
  margin: 0%;
  height: 100%;
  width: 100%;
  
 }

#sky {
    background: linear-gradient(DeepSkyBlue, LightSkyBlue, AliceBlue);height: 60%;
    width: 100%;
}

#sun {
    font-size: 150px;
    position: absolute;
    top: -80px;
    left: -60px;
}

#building-1 {
    background: white;
    height: 60px;
    width: 100px;
    position: absolute;
    top: 610px;
    left: 100px;
    z-index: 10;
}
#roof-1 {
    border-bottom: 50px solid burlywood;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: relative;
    bottom: 50px;
}
#door-1 {
    width: 40px;
    position: relative;
    top: -41px;
    left: 31px;
}

#building-2 {
    background: white;
    height: 60px;
    width: 100px;
    position: absolute;
    top: 570px;
    left: 250px;
}
#roof-2 {
    border-bottom: 50px solid burlywood;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: relative;
    bottom: 50px;
}
#door-2 {
    width: 40px;
    position: relative;
    top: -41px;
    left: 31px;
}

#building-3 {
    background: white;
    height: 60px;
    width: 100px;
    position: absolute;
    top: 600px;
    left: 500px;
    z-index: 10;
}
#roof-3 {
    border-bottom: 50px solid burlywood;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: relative;
    bottom: 50px;
}
#door-3 {
    width: 40px;
    position: relative;
    top: -41px;
    left: 31px;
}

#cloud-1 {
    font-size: 150px;
    position: absolute;
    top: 80px;
    left: 360px;
}

#cloud-2 {
    font-size: 150px;
    position: absolute;
    top: 150px;
    left: 80px;
}

#buildings {
    width: 800px;
    position: absolute;
    top: 250px;
}

#plane {
    width: 100px;
    position: absolute;
    top: 120px;
    left: 250px;
}

#bench-1 {
    width: 50px;
    position: absolute;
    top: 515px;
    left: 60px;
}

#bench-2 {
    width: 50px;
    position: absolute;
    top: 515px;
    left: 220px;
}

#bench-3 {
    width: 50px;
    position: absolute;
    top: 515px;
    left: 380px;
}

#bench-4 {
    width: 50px;
    position: absolute;
    top: 515px;
    left: 540px;
}

#water {
    width: 800px;
    position: absolute;
    top: 355px;
}