 body {
  background: url(artificial-grass-5898-in-architextures.jpg);
  background-size: 50%;
  padding: 0%;
  margin: 0%;
  height: 100%;
  width: 100%;

 }

#sky {
    background: linear-gradient(DeepSkyBlue, LightSkyBlue, AliceBlue);height: 60%;
    width: 100%;
}

#sun {
    font-size: 150px;
    position: absolute;
    top: -80px;
    left: -60px;
}

#building-1 {
    background: white;
    height: 60px;
    width: 100px;
    position: absolute;
    top: 410px;
    left: 100px;
}
#roof-1 {
    border-bottom: 50px solid burlywood;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: relative;
    bottom: 50px;
}
#door-1 {
    width: 40px;
    position: relative;
    top: -41px;
    left: 31px;
}
